body {
  font-family: 'Patrick Hand', cursive;
  background-color: #fffbea;
}

.font-sticky {
  font-family: 'Patrick Hand', cursive;
}

.sticky-note {
  background-color: #fff475;
  border: 2px solid #fdd835;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
  font-family: 'Patrick Hand', cursive;
}

button:hover {
  cursor: pointer;
}
.fixed.background.inset-0.bg-opacity-40.z-40 {
  background: #000000a8 !important;
}